<h1>Listagem de amigos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Id</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.id_friend %></td>
        <td><%= link_to 'Mostrar', friend %></td>
        <td><%= link_to 'Editar', edit_friend_path(friend) %></td>
        <td><%= link_to 'Apagar', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Amigo', new_friend_path %>
<a href="/delete">Logout</a>

