<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @friend.id_friend %>
</p>

<%= link_to 'Editar', edit_friend_path(@friend) %> |
<%= link_to 'Voltar', friends_path %>
